@font-face {
    font-family: Quicksand;
    src: url(https://fonts.googleapis.com/css?family=Quicksand);
}

body
{
	margin:0px;
	font-family:Quicksand;
	background-color: #ffcc66;
}

main{
	margin: auto;
	padding: auto;
	width:85%;
}

.prensentation{
	width:85%;
	margin: auto;
	padding: auto;
	background-color: orange;
}

.color1{
	background-color: orange;
}

.color2{
	background-color: #ffcc66;
}

.grey{
	background-color: rgba(0,0,0,0.9);
	color: blue;
}















